.checkout-container{
    height:calc(100vh - 180px);
}

.custom-size{
    width: 50%;
}
form{
    text-align: center;
}
@media only screen and (max-width: 600px) {
    .custom-size{
        width: 100%;
        padding: 10px !important;
    }
}